
Game/obj/Debug/MajormudConversion.dll
Game/obj/Debug/MajormudConversion.pdb
Game/obj/Debug/ReMUD.Core.csproj.CoreCompileInputs.cache
Game/obj/Debug/ReMUD.Core.csproj.FileListAbsolute.txt
Game/obj/Debug/ReMUD.Core.dll
Game/obj/Debug/ReMUD.Core.pdb
Game/obj/Debug/ReMUD.Game.csproj.CoreCompileInputs.cache
Game/obj/Debug/ReMUD.Game.csproj.FileListAbsolute.txt
Game/obj/Debug/ReMUD.Game.dll
Game/obj/Debug/ReMUD.Game.pdb
Game/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Game/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Game/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Game/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Game/obj/x86/Debug/MajormudConversion.csproj.CoreCompileInputs.cache
Game/obj/x86/Debug/MajormudConversion.csproj.FileListAbsolute.txt
Game/obj/x86/Debug/MajormudConversion.dll
Game/obj/x86/Debug/MajormudConversion.pdb
Game/obj/x86/Debug/ReMUD.Game.csproj.CoreCompileInputs.cache
Game/obj/x86/Debug/ReMUD.Game.csproj.FileListAbsolute.txt
Game/obj/x86/Debug/ReMUD.Game.dll
Game/obj/x86/Debug/ReMUD.Game.pdb
Game/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Game/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Game/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Game/.vs/MajormudConversion/v15/Server/sqlite3/db.lock
Game/.vs/MajormudConversion/v15/Server/sqlite3/storage.ide
Game/.vs/MajormudConversion/v15/Server/sqlite3/storage.ide-shm
Game/.vs/MajormudConversion/v15/Server/sqlite3/storage.ide-wal
Game/bin/Debug/MajormudConversion.dll
Game/bin/Debug/MajormudConversion.pdb
Game/bin/Debug/ReMUD.Core.dll
Game/bin/Debug/ReMUD.Core.pdb
Game/bin/Debug/ReMUD.Game.dll
Game/bin/Debug/ReMUD.Game.pdb
Game/bin/Debug/WBTRV32.DLL
Game/bin/x86/Debug/MajormudConversion.dll
Game/bin/x86/Debug/MajormudConversion.pdb
Game/bin/x86/Debug/ReMUD.Game.dll
Game/bin/x86/Debug/ReMUD.Game.pdb
Game/bin/x86/Debug/WBTRV32.DLL
Game/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Game/obj/Debug/MajormudConversion.csproj.CoreCompileInputs.cache
Game/obj/Debug/MajormudConversion.csproj.FileListAbsolute.txt
Game/obj/Debug/MajormudConversion.csprojAssemblyReference.cache
Server/bin/Debug/ReMUD.Game.dll
Server/bin/Debug/ReMUD.Game.pdb
Server/bin/Debug/ReMUD.Server.exe
Server/bin/Debug/ReMUD.Server.pdb
Server/bin/Debug/WBTRV32.DLL
Server/bin/x86/Debug/ReMUD.Game.dll
Server/bin/x86/Debug/ReMUD.Game.pdb
Server/bin/x86/Debug/ReMUD.Server.exe
Server/bin/x86/Debug/ReMUD.Server.pdb
Server/bin/x86/Debug/WBTRV32.DLL
Server/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Server/obj/Debug/ReMUD.Server.csproj.CopyComplete
Server/obj/Debug/ReMUD.Server.csproj.CoreCompileInputs.cache
Server/obj/Debug/ReMUD.Server.csproj.FileListAbsolute.txt
Server/obj/Debug/ReMUD.Server.csprojAssemblyReference.cache
Server/obj/Debug/ReMUD.Server.exe
Server/obj/Debug/ReMUD.Server.pdb
Server/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Server/obj/x86/Debug/ReMUD.Server.csproj.CopyComplete
Server/obj/x86/Debug/ReMUD.Server.csproj.CoreCompileInputs.cache
Server/obj/x86/Debug/ReMUD.Server.csproj.FileListAbsolute.txt
Server/obj/x86/Debug/ReMUD.Server.csprojAssemblyReference.cache
Server/obj/x86/Debug/ReMUD.Server.exe
Server/obj/x86/Debug/ReMUD.Server.pdb
UnitTesting/bin/Debug/MajormudConversion.dll
UnitTesting/bin/Debug/MajormudConversion.pdb
UnitTesting/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
UnitTesting/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
UnitTesting/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
UnitTesting/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
UnitTesting/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
UnitTesting/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
UnitTesting/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
UnitTesting/bin/Debug/TestMajormudFunctions.dll
UnitTesting/bin/Debug/TestMajormudFunctions.pdb
UnitTesting/bin/Debug/WBTRV32.DLL
UnitTesting/MajormudTestProcedures.cs
UnitTesting/MessageTestProcedures.cs
UnitTesting/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UnitTesting/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
UnitTesting/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
UnitTesting/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
UnitTesting/obj/Debug/TestMajormudFunctions.csproj.CopyComplete
UnitTesting/obj/Debug/TestMajormudFunctions.csproj.CoreCompileInputs.cache
UnitTesting/obj/Debug/TestMajormudFunctions.csproj.FileListAbsolute.txt
UnitTesting/obj/Debug/TestMajormudFunctions.csprojAssemblyReference.cache
UnitTesting/obj/Debug/TestMajormudFunctions.dll
UnitTesting/obj/Debug/TestMajormudFunctions.pdb
UnitTesting/obj/x86/Debug/build.force
UnitTesting/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UnitTesting/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
UnitTesting/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
UnitTesting/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
UnitTesting/obj/x86/Debug/TestMajormudFunctions.csproj.CoreCompileInputs.cache
UnitTesting/obj/x86/Debug/TestMajormudFunctions.csproj.FileListAbsolute.txt
UnitTesting/obj/x86/Debug/TestMajormudFunctions.csprojAssemblyReference.cache
.vs/ReMUD/v15/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.cache
ReMUD.Tests/bin/x86/Debug/ReMUD.Game.dll
ReMUD.Tests/bin/x86/Debug/ReMUD.Game.pdb
ReMUD.Tests/bin/x86/Debug/ReMUD.Tests.dll
ReMUD.Tests/bin/x86/Debug/ReMUD.Tests.pdb
ReMUD.Tests/obj/x86/Debug/ReMUD.Tests.dll
ReMUD.Tests/obj/x86/Debug/ReMUD.Tests.pdb
*.pdb
*.dll
